@import url("./common.css");

/* #stats */

#stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    height: 40px;
    padding: 1px 0;
}

.stats-text {
    font-size: 24px;
}

/* #card */

#card {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 419px;
}

/* #card-result */

#card-overlay {
    display: flex;
    justify-content: center;
}

#card-result-overlay {
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 419px;
    background-color: rgba(255,255,255,0.3);
}

.card-result {
    z-index: 3;
    width: 100px;
    height: 100px;

    font-size: 100px;
    line-height: 110px;
    text-align: center;

    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    border: 18px solid;
    border-radius: 100px;
}

#card-result-correct {
    position: absolute;
    color: green;
}

#card-result-wrong {
    position: absolute;
    color: red;
}

/* #card-image */

#card-image {
    z-index: 1;
    width: 300px;
    height: 419px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://cf.geekdo-images.com/An6FTVYqLkDcUp-kFJjdRA__imagepagezoom/img/UhSGtYe0Xn8k67uyx3_GEjGgDuE=/fit-in/1200x900/filters:no_upscale():strip_icc()/pic7940425.png");
}

/* #lower-buttons */

#lower-buttons {
    height: 118px;
}

#decision-or-answer {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    height: 64px;
}

#actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* #decision button */

#decision-or-answer button {
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.tier-letter {
    margin-top: 4px;
    font-size: 32px;
    line-height: 28px;
}

.tier-desc {
    text-transform: lowercase;
    font-size: 15px;
    line-height: 15px;
}

#answer {
    font-size: 32px;
}